[
  {riak_cs, [
            ]},
  {riak_kv, [
  {% if riakcs_version is defined and force_riak_backend is defined %}
  {# We need to force this backend to use RiakCS #}
               {add_paths, ["/usr/lib/riak-cs/lib/riak_cs-2.0.1/ebin"]},
               {storage_backend, riak_cs_kv_multi_backend},
               {multi_backend_prefix_list, [{<<"0b:">>, be_blocks}]},
               {multi_backend_default, be_default},
               {multi_backend, [
                                {be_default, riak_kv_eleveldb_backend, [
                                    {total_leveldb_mem_percent, 30},
                                    {data_root, "/var/lib/riak/leveldb"}
                               ]},
                               {be_blocks, riak_kv_bitcask_backend, [
                                   {data_root, "/var/lib/riak/bitcask"}
                               ]}
               ]}
               %% Other configs
  {% endif %}
           ]}
].
